<div class="p-grid p-justify-center card">
  <div class="p-col-12 p-sm-6 p-md-4">
    <p-card>
      <div class="p-grid">
        <div class="p-col-12 text-center">
          <em class="fas fa-car fa-4x" style="color: #007ad9;"></em>
          <h2>Car Sales</h2>
        </div>
        <div class="p-col-12">
          <label for="">Username</label>
          <input [(ngModel)]="requestLogin.login" class="p-col-12" type="text" pInputText />
        </div>
        <div class="p-col-12">
          <label for="">Password</label>
          <input [(ngModel)]="requestLogin.password" class="p-col-12" type="password" pInputText />
        </div>
        <div class="p-col-12">
          <button (click)="doLogin()" pButton type="button" label="Login" class="p-col-12"></button>
        </div>
      </div>
    </p-card>
  </div>
</div>
