/* You can add global styles to this file, and also import other style files */
body{
  background-image: url(./assets/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.90;
}
.p-card
{
  background-color: #252525 !important;
  color: #fff !important;
}
.text-center{
  text-align: center;
}
